$klurang: #F9FAFF;
$gray: gray;
$oqroq: #ECEFF7;
$kok: #CFC8FF;
$kokroq: #5F75EE;
$toqkok: #51459E;
$koktoq: #1C295D;
$odamrang:#FDEDD5;
$pushti:#FDE4F9;
$ochkok:#B5E0E9;
$kokk: #3E3C7B;
$kul:#F7F8FA;
$olorang: #F9896B;
$yashl:#2FE6C8;
$bcollor:#FFF3F1;
$ochrang:#FCF6DD;
$xre: #E0F4F8;
$ochyashil: #E0F8F2;